/**
 * Theme Name:  SportHealth
 * Theme URI:   http://i-wp-dev.com/
 * Author:      Alex L
 * Author URI:  http://i-wp-dev.com/
 * Description: SportHealth
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        white, blue, sport, organization
 * Text Domain: iwp
 * Version:     1.0
 */
.wpb_single_image .vc_figure{
	width: 100%;
}
.map-block .vc_row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.map-block > .vc_column_container,
.wpb_gmaps_widget .wpb_wrapper{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.copyright a{
	color: #fff;
	text-decoration: underline;
	transition: all 0.3s ease;  
}
.copyright a:hover{
	color: #323033;
}
.map-block h2.title{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.congress img{
	overflow: hidden;
	border: 1px solid #A5A8B5;
}
p:empty,
h2:empty{ 
	display: none !important;
}
.program .col-12 > p{
	max-width: 780px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: #323033;
	display: block;
	margin-bottom: 40px;
}
.input .description {
    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
    font-size: 12px;
	margin: 0 !important;
}
.wpb_gallery_slides .isotope-item{
	width: calc((100% - 60px) / 3);
	margin-right: 30px !important;
	margin-bottom: 30px !important; 
}
.wpb_gallery_slides .isotope-item:nth-of-type(3n) {
   margin-right: 0 !important; 
}
.vc_tta.vc_general .vc_tta-panel-title > a{
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	padding: 0 0 0 46px !important;
}
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus:after{
	border-width: 0 0 0 4px;
	border-color:#fff !important;
}
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus:before{
	border-width: 4px 0 0 0;
	border-color:#fff !important;
}
.vc_tta-panel-title,
.vc_tta-panel-heading{
	cursor: pointer;
}
.vc_tta-panel-body a{
	text-decoration: underline;
	transition: all 0.3s ease;
}
.vc_tta-panel-body a:hover{
	color: #0da2e0;
}

form .textarea textarea::-webkit-input-placeholder { 
	font-size: 16px;
	font-weight: 400;
	color: #212529;
	text-transform: uppercase;
	opacity: 1;
}
form .textarea textarea::-moz-placeholder { 
	font-size: 16px;
	font-weight: 400;
	color: #212529;
	text-transform: uppercase;
	opacity: 1;
}
form .textarea textarea:-ms-input-placeholder { 
	font-size: 16px;
	font-weight: 400;
	color: #212529;
	text-transform: uppercase;
	opacity: 1;
}
form .textarea textarea:-moz-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #212529;
	text-transform: uppercase;
	opacity: 1;
}
.committee ul li{
	padding-left: 30px;
}
.committee .wpb_text_column{
	margin-bottom: 55px;
}
.wpb_image_grid_ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}
.wpb_image_grid_ul li img{
	min-height: 250px;
	object-fit: cover;
	object-position: center;
}
.personal-cabinet .img{
	position: relative;
}
.personal-cabinet #remove-avatar {
	position: absolute;
	z-index: 1;
	right: 5px;
	top: 5px;
	transition: all 0.3s ease;
}
.personal-cabinet #remove-avatar:hover{
	color: #0da2e0;
}
#registration .file{
	margin: 0;
}
#registration .file p{
	width: auto;
	margin: 8px 0 0 ;
}
#registration  .buttons label{
	margin-right: 30px;
}
#registration  .buttons label,
#registration  .buttons .send_check{
	width: calc((100% - 30px) / 2);
}
#registration  .buttons{
	justify-content: space-between;
	align-items: flex-start;
}
input {
	outline: none;
	filter: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
	-moz-box-shadow: 0 0 0 1000px #fff inset;
	box-shadow: 0 0 0 1000px #fff inset;
}
#register_form .dfr .dfr{
	width: 100%;
}
#register_form .dfr #submit_from{
	order: 1;
}
#register_form .dfr .dfr a{
	transition: all 0.3s ease;
}
#register_form .dfr .dfr a:hover{
	color: #0da2e0;
}
#register_form .dfr .dfr a:first-of-type{
	margin-right: 5px;
	margin-left: auto;
}
#register_form .dfr .dfr a:last-of-type{
	margin-left: 5px;
	margin-right: auto;
}
.content .vc_col-sm-4 img{
	height: 273px;
	object-fit: cover;
	object-position: center;
}
.content .vc_col-sm-6 img{
	height: 294px;
	object-fit: cover;
	object-position: center;
}
.content .vc_single_image-wrapper{
	width: 100%;
}
.partners .wrapper-items .col:nth-of-type(n+5){
	margin-top: 30px;
}
.page-id-589 section,
.page-id-110 section{
	padding-bottom: 0;
}
.page-id-589 section:after,
.page-id-110 section:after{
	display: none;
}
.congress .container,
.organizers .container{
	padding-left: 0 !important; 
	padding-right: 0 !important;
}
.replay-comment-input textarea{
	width: 100%;
	resize: none;
	background-color: #fff; 
	height: 80px;
	border: 1px solid #fff;
	padding: 10px 15px;
}
.page-id-589 section, 
.page-id-110 section{
	min-height: calc(100vh - 88px);
	background: #0da2e0;
}
.page-id-589 section .col-12 .title,  
.page-id-110 section .col-12 .title{
	position: relative;
	z-index: 1;
}
@media only screen and (max-width: 1399px) {
	.wpb_image_grid_ul li img {
		min-height: 215px;
	}
	.congress img {
		height: auto;
	}
}
@media only screen and (max-width: 1199px) {
	.wpb_image_grid_ul li img {
		min-height: 180px;
	}
	.content .vc_col-sm-6 img {
		height: 210px;
	}
	.content .vc_col-sm-4 img {
		height: 193px;
	}
}
@media only screen and (max-width: 991px) {
	.wpb_image_grid_ul li img {
		min-height: 133px;
	}
	#registration  .file{
		margin-top: 30px;
	}
	.content .vc_col-sm-6 img {
		height: 154px;
	}
	.content .vc_col-sm-4 img {
		height: 140px;
	}
}
@media only screen and (max-width: 767px) {
	.wpb_image_grid_ul li img {
		min-height: 325px;
	}
	.wpb_gallery_slides .isotope-item {
		width: 100%;
		margin:0 0 20px !important;
	}
	.vc_custom_1623944218418 {
		padding-left: 0px !important;
	}
	.content .vc_col-sm-6 > .vc_column-inner{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.map-block #map iframe{
		height: calc(65vw - 20px);
	}
	section > .vc_row > .vc_col-sm-12,
	.content .vc_col-sm-12{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.content .vc_col-sm-6 img {
		height: 238px;
	}
	.content .vc_col-sm-4 img {
		height: 340px;
	}
	.content.location{
		padding-top: 40px;
	}
	.vc_row.committee{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.language.checked:after,
	.language:after,
	.language:before{
		color: #fff !important;
	}
	.banner img{
		object-fit: cover;
	}
}
@media only screen and (max-width: 575px) {
	.committee{
		margin-right: 0 !important;
		margin-left: 0 !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	.committee > .vc_col-sm-12 > .wpb_wrapper > .vc_column-inner >  .vc_row.wpb_row {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	
	
	.wpb_image_grid_ul li img {
		min-height: 57.043vw;
	}
	.content {
		margin: 0 !important;
		padding: 50px 15px;
	}
	.personal-cabinet #registration .buttons label, 
	.personal-cabinet #registration .buttons #send_check{
		width: 100%;
		max-width: 100%;
		margin-right: 0;
	}
	#registration .file .dfr{
		width: calc(100% - 80px);
	}
	.personal-cabinet  #registration .buttons #send_check{
		margin-top: 15px;
	}
	#registration .file{
		width: 100%;
	}
	#registration  .file .dfr{
		flex-direction: column;
	}
	.map-block {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.content .vc_col-sm-6 img {
		height: 41.754vw;
	}
	.content .vc_col-sm-4 img {
		height: 59.649vw;
	}
	section > .vc_row.packages > .vc_col-sm-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	.congress .row{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.congress .container,
	.organizers .container{
		padding-left: 15px !important; 
		padding-right: 15px !important;
	}
	.wpb_wrapper .map-block .row{
		margin-left: 0;
		margin-right: 0;
	}
	.organizers {
		padding-left: 15px !important; 
		padding-right: 15px !important;
	}
	.home .congress .container{
		padding-left: 0px !important; 
		padding-right: 0px !important;
	}
	.committee .vc_single_image-wrapper img, 
	.committee .vc_single_image-wrapper{
		width: 100%;
	}
	.program .row{
		margin-left: 0;
		margin-right: 0;
	}
}